
.message {
  background-color: #fff;
  width: 97%;
  text-align: center;
  border-radius: 3px;
  margin: 1rem 0;
  -moz-box-shadow: 1px 1px 3px 0px #BDC3C7;
  -webkit-box-shadow: 1px 1px 3px 0px #BDC3C7;
  box-shadow: 1px 1px 3px 0px #BDC3C7;
  text-align: left;
  font-size: 1rem;
  padding: 1rem 2rem;
};
